fastapi==0.139.0
uvicorn[standard]==0.51.0
pymysql==1.2.0
python-dotenv==1.2.2
sqlalchemy==2.0.51
python-multipart==0.0.32
email-validator==2.3.0
bcrypt==4.2.1
passlib[bcrypt]==1.7.4
pydantic==2.13.4
python-jose[cryptography]==3.3.0
python-slugify==8.0.4
cloudinary==1.41.0
google-generativeai==0.8.5
